html {font-size: 6.022em;} /* baseline font size */

body {
    font-size: 50%; /* needs to be % of 200 that cube dimentions are */
    line-height: 1;
}
#demowrapper{
    margin-top:-250px;
}
.plane {
    width: 500px;/*must be 5x cube width*/
    height: 500px;/*must be 5x cube height*/
    margin:0 auto;
    background-color: grey;
    border:100px solid grey;
    transform-style: preserve-3d;
    transform:  rotateX(60deg) rotateY(0deg) rotateZ(-45deg)
                    translate3d(0px,0px,-1000px);
}

.cubewrap{
    width: 100px; /*if changing these, remember than change font size and all transforms (currently the ones that say 50px)*/
    height: 100px;
    margin: 0 0;
    float:left;
    transform-style: preserve-3d;
    background-color:rgb(50, 50, 50);
    background-color:rgba(0, 0, 0, 0.3);
}
.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /*default vertical height*/
    transform:  translate3d(0,0,50px);
}
.cubewrap, .cube{
    transition: all 0.5s;
}
.side{
    transition: all 0.2s;
}

/*#cube2 .vertical-adj{
    transform: translateZ(300px);
}
#cube9 .vertical-adj{
    transform: translateZ(300px);
}
#cube9.horizontal-adj{
    margin-top:400px;
}*/

.side {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: white;
    /*border: 2px solid black;*/

    color: black; 
    text-align: center;
    line-height: 2em;
    overflow:hidden;
    
    text-align: center;
    white-space: nowrap;
}
.side:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.side p{
    display: inline-block;
    vertical-align: middle;
    font-size: 100%;
    margin: 0;
}

.top    { background-color: rgb(244, 244, 244);
          transform:                  translateZ(50px) rotateZ(90deg); }
.left   { background-color: rgb(222, 222, 222);
          transform: rotateY(-90deg)  translateZ(50px) rotateZ(90deg); }
.right  { background-color: rgb(211, 211, 211);
          transform: rotateX(-90deg)  translateZ(50px) rotateZ(90deg); }

.top.rtt    { transform:                  translateZ(50px) rotateZ(90deg); }
.right.rtt  { transform: rotateX(-90deg)  translateZ(50px) rotateZ(90deg); }

.top.ltt    { transform:                  translateZ(50px) rotateZ(0deg); }
.left.ltt   { transform: rotateY(-90deg)  translateZ(50px) rotateZ(00deg); }

.left.ltr   { transform: rotateY(-90deg)  translateZ(50px) rotateZ(90deg); }
.right.ltr  { transform: rotateX(-90deg)  translateZ(50px) rotateZ(0deg); }