html {font-size: 6.022em;} /* baseline font size */

body {
    font-size: 100%;
    line-height: 1;
    background-color:#d82067;
    overflow: hidden;
}
.plane *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#demowrap{
    transform-style: preserve-3d;
    width:100%;
    perspective: 500px;
}
button.active{
    transform: rotateZ(360deg);
    transition: all 0.2s;
}

.plane {
    width:90%;
    margin:0 auto;
    background-color: transparent;
    transform-style: preserve-3d;
    transform: rotateX(16deg);
}
.plane:after{
    content:"\00a0";
    float:none;
}

.col {
    width:5%;
    margin:0;
    float:left;
    clear: none;
    pointer-events: none;
}

.panel{
    position: relative;
    width:100%;
    margin: 0;
    transform-style: preserve-3d;
    transition: all 0.9s;
    pointer-events: auto;
}
.panel:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    pointer-events: none;
}

.side{
    transition: all 0.2s;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: transparent;
    /*border: 2px solid black;*/

    overflow:hidden;
    white-space: nowrap;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front { background-color: rgb(24,24,24);
         transform: rotateY(0deg); }
.back  { background-color: rgb(244, 244, 244);
         transform: rotateY(180deg); }

.panel.active { transform: rotateY(180deg) !important; }

.cascade .panel:nth-child(1){
    transform: translateZ(-20px) rotateX(-16deg);
}
.cascade .panel:nth-child(2){
    transform: translateZ(-15px) rotateX(-16deg);
}
.cascade .panel:nth-child(3){
    transform: translateZ(-10px) rotateX(-16deg);
}
.cascade .panel:nth-child(4){
    transform: translateZ(-5px) rotateX(-16deg);
}
.cascade .panel:nth-child(5){
    transform: translateZ(0px) rotateX(-16deg);
}

.flyin .col:nth-child(odd) .panel{
    transform: translateX(-4000px) rotateX(-360deg);
}
.flyin .col:nth-child(even) .panel{
    transform: translateX(4000px) rotateX(360deg);
}

.zoomin .panel{
    transform: translateZ(-4000px);
}