html {font-size: 10vw;} /* baseline font size */
body{
    margin:0;
    overflow:hidden;
}

#outerwrap {
    margin:0;
    font-size: 50%; /* needs to be % of 200 that cube dimentions are */
    line-height: 1;
    perspective: 300vw;
    background-color:#222222;
    background: linear-gradient(to bottom, #a4ddfc 0%,#a4ddfc 30%,#222222 30%,#222222 100%);
    overflow: hidden;
}
#demowrap *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer and Edge */
            user-select: none; /* Chrome and Opera */
}
#demowrap{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight:900;
    text-transform: uppercase;
    transform-style: preserve-3d;
    max-width: 1920px;
    min-width: 920px;
}

.plane {
    width: 320vw;
    height: 100vh;
    margin:0 auto;
    background-color: #222222;
    border:1.2vw solid #222222;
    transform-style: preserve-3d;
    transform:  rotateX(75deg) rotateY(1deg) rotateZ(-25deg) translate3d(-20vw,-20vw,-10vh);
}
.sky{
    width: 200%;
    height: 100%;
    transform: translateZ(-100vh) translateY(-120vh) translateX(-50vw) rotateX(-90deg) rotateX(90deg);
    transform-style: preserve-3d;
    position: fixed;
    background-size: cover;
    background-repeat:no-repeat;
    background: linear-gradient(to bottom, #a4ddfc 0%,#ffdad1 30%,#222222 30%,#222222 100%);
}

.tracks{
    height: 20vw;
    width:100%;
    background-color:#383432;
    background-image: url("textures/tracks.png");
    background-size: contain;
    
    /* fixes firefox */
    /* display: table-cell;*/
    transform-style: preserve-3d;
    
    vertical-align: middle;
    white-space: nowrap;
}

.train{
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(.61,-0.16,.52,1.06);
    margin-left: 50vw;
    
    white-space: nowrap;
    
    //transform: translateY(5vw);
    padding-top:5vw;
}

.cubewrap{
    width: 10vw;
    height: 10vw;
    margin: 0 0;
    float:left;
    transform-style: preserve-3d;
    background-color:rgb(50, 50, 50);
    background-color:rgba(0, 0, 0, 0.3);
    position: relative;
}
.train .cubewrap{
    width: 50vw;
    height: 10vw;
}
.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /*default vertical height*/
    transform:  translate3d(0,0,5vw);
    position: absolute;
    top:0;
    left:0;
}
.train .cubewrap, .cube{
    transition: filter 0.5s;
}
.side{
    transition: filter 0.2s;
}

.side {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: white;
    /*border: 20vw solid black;*/

    color: black; 
    text-align: center;
    line-height: 2em;
    overflow:hidden;
    
    text-align: center;
    white-space: nowrap;
}

.side p{
    display: inline-block;
    vertical-align: middle;
    font-size: 100%;
    margin: 0;
    height:100%;
}
.side a{
    color:white;
    text-decoration: none;
}
.active .side a:hover{
    font-size: 120%;
}
.active .side a:active{
    font-size: 110%;
    color:#d1d1d1;
}

.top {
    transform: translateZ(5vw);
}
.left { 
    width: 20%;
    transform: rotateY(-90deg)  translateZ(5vw) rotateZ(90deg); }
.right {
    transform: rotateX(-90deg)  translateZ(5vw);
}

.top    { -webkit-filter: brightness(1.5);
                  filter: brightness(1.5); }
.right  { -webkit-filter: brightness(1.2);
                  filter: brightness(1.2); }
.left   { -webkit-filter: brightness(0.6);
                  filter: brightness(0.6); }
.front  { -webkit-filter: brightness(1.0);
                  filter: brightness(1.0); }
.bottom { -webkit-filter: brightness(0.4);
                  filter: brightness(0.4); }
.back   { -webkit-filter: brightness(0.8);
                  filter: brightness(0.8); }

.train .cubewrap.horizontal-adj{
    margin-right:2vw;
}

.car.vertical-adj{
    transform: translateZ(10vw);
}

.wheels{
    transform: translateZ(2.5vw);
}
.wheels .right {
    height:50%;
    transform: rotateX(-90deg)  translateZ(7vw); /*-5vw off each to bring wheels in*/
}
.wheels .back {
    transform: rotateX(-90deg)  translateZ(-2vw); /*-5vw off each to bring wheels in*/ 
}
.crane{
    border-radius: 500vw;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    left: 70vw;
    transform: translateZ(105vh);
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(.61,-0.16,.52,1.06);
}
.crane .cubewrap {
    border-radius: 500vw;
}
.crane .hook{
    transform: translateZ(1.1vw)
}
.crane .hook .side{
    background-color: rgb(62, 62, 62);
}
.crane .hook .top {
    border-radius: 500vw;
    transform: translateZ(1vw);
}
.crane .hook .right { 
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
    height:2.0vw;
    width:10vw;
    transform: rotateZ(25deg) rotateX(-90deg) translateX(1.7vw) translateZ(4.4vw);
}
.crane .hook .bottom {
    -webkit-filter: brightness(1.3);
            filter: brightness(1.3);
    border-radius: 500vw;
    border-radius: 180deg;
    transform: translateZ(-1vw);
}
.crane .joint{
    transform: translateZ(3.5vw);
}
.crane .joint .right {
    height:30%;
    width:90%;
    transform: rotateX(-90deg)  translateZ(4.5vw) translateX(0.5vw);
    background-color: transparent;
    background-image: url(textures/joint.png);
    background-size: contain;
}
.crane .joint .back {
    transform: rotateX(-90deg)  translateZ(2.5vw) translateX(0.5vw);
}
.crane .cable{
    transform: translateZ(15vw);
}
.crane .cable .right {
    background-color: rgb(15, 15, 15);
    height:1000%;
    width:10%;
    transform: rotateZ(25deg) rotateX(-74deg) translateZ(-44vw) translateX(-14.8vw) translateY(-50vw);
}

.car .side{
    background-color:rgb(234, 113, 37);
    background-image: url(textures/side.png);
    background-blend-mode:luminosity;
    background-size: cover;
}

.wheels .right{
    /*background-color: rgb(47, 47, 47);*/
    background-color: transparent;
    background-image: url(textures/wheels.png);
    background-size: contain;
}
.wheels .top{
    box-sizing: border-box;
    border: 10px solid rgb(62, 62, 62);
    background-color: rgb(47, 47, 47);
    background-size: cover;
    transform: translateZ(2.5vw);
}

.active .side {
    color: white;
}

.animate-up.active .car.vertical-adj{
    transition: transform 1.5s cubic-bezier(.61,-0.16,.52,1.06);
    transform: translateZ(100vh);
}
.animate-down.crane{
    transition: transform 0.5s cubic-bezier(.61,-0.16,.52,1.06);
    transform: translateZ(15.5vw);
}
.animate-down.plane{
    transition: transform 5s;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(-25deg) translate3d(20vw,-20vw,-1000vw);
}